$borderWidth: 4px;
$tickColor: #1f1f1f;
$defaultThemeColor: #ccc;

.rLinearGauge {
    width: calc(100% - #{$borderWidth});
    position: relative;
    .thresholds {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 1;
        .threshold {
            min-height: 30px;
        }
    }
    .ticks {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        z-index: 2;
    }
    &.default-theme {
        border: $borderWidth solid $defaultThemeColor;
        margin-bottom: 10px;
        .pointer {
            transition: left .6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            position: absolute;
            z-index: 4;
            background: black;
            display: inline-block;
            height: 20px;
            top: 20px;
            width: 8px;
            transform: translateX(-50%);
            &:before {
                border-bottom: 10px solid black;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                content: "";
                height: 0;
                left: 0;
                position: absolute;
                top: -10px;
                width: 0;
            }
        }
        .ticks {
            .tick {
                position: absolute;
                width: 2px;
                background-color: $tickColor;
                height: 20px;
                &:last-child {
                    margin-left: -2px;
                }
                &.minor {
                    width: 1px;
                    height: 10px;
                    &:nth-child(5n) {
                        height: 20px;
                    }
                    &:last-child {
                        margin-left: -2px;
                    }
                }
                span {
                    position: absolute;
                    top: 15px;
                    left: -5px;
                }
            }
        }
        .target {
            display: block;
            position: absolute;
            width: 10px;
            height: 42px;
            top: -6px;
            z-index: 3;
            background: #D50000;
            transform: translateX(-50%);
        }
        .values {
            position: absolute;
            width: 100%;
            z-index: 5;
            top: 30px;
            .value {
                position: absolute;
                font-size: .8rem;
                transform: translateX(-50%);
                &:last-child {
                    transform: none;
                }
            }
        }
    }
    &.centered-theme{
        border: $borderWidth solid $defaultThemeColor;
        .pointer {
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: black;
            position: absolute;
            z-index: 4;
            top: -5px;
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                left: -10px;
	            top: 10px;
                border: 10px solid transparent;
                border-top-color: black;
            }
        }
        .values {
            position: absolute;
            width: 100%;
            z-index: 5;
            top: 30px;
            .value {
                position: absolute;
                font-size: .8rem;
                transform: translateX(-50%);
                &:last-child {
                    transform: none;
                }
            }
        }
        .ticks {
            align-items: center;
            height: 30px;
            .tick {
                position: absolute;
                width: 2px;
                background-color: $tickColor;
                height: 20px;
                &:last-child {
                    margin-left: -2px;
                }
                &.minor {
                    width: 1px;
                    height: 10px;
                    transform: translateY(-50%);
                    &:nth-child(5n) {
                        height: 20px;
                    }
                    &:last-child {
                        margin-left: -2px;
                    }
                }
                span {
                    position: absolute;
                    top: 15px;
                    left: -5px;
                }
            }
        }
        .target {
            display: block;
            position: absolute;
            width: 10px;
            height: 42px;
            top: -6px;
            z-index: 3;
            background: #D50000;
            transform: translateX(-50%);
        }
    }
}